<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
    <div class="body-overlay">
        <%- include ('./partials/header.ejs') %>
        <main>
            <ul>
                <% for (let recipe of recipes) { %>
                    <li class="list-items">
                        <div class="list-container">
                            <div class="list-item list-left">
                            <a href="/recipe/<%= recipe._id %> ">
                                <img src="<%= recipe.image %>"/> 
                            </a> 
                            </div>
                            <div class="list-item list-right">
                                <a href="/recipe/<%= recipe._id %> "><h2><%= recipe.name %><h2></h2></a>
                                <p><%= recipe.description %></p>  
                            </div>
                        </div>
                        
                    </li>
                <% } %>    
            </ul>  
        </main>
    </div> 
</body>

</html>