<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class="body-overlay">
        <%- include ('./partials/header.ejs') %>
        <main id="buy-form">
            <form action="/product/<%=product.id%>?_method=PUT" method="POST">
                <h2>Complete Purchase</h2>
                <p>Item: <%=product.name%></p>
                <br />
                <p>Description: <%=product.description%></p> 
                <br />
                <p>Price: $<%=product.price%></p> 
                <br />
                <p>Quantity: <input type="number" name="qty" value="<%=product.qty - (product.qty -1)%>"></p> 
                <br />
                <p>Finalize you purchase <%=product.name%>.</p>
                <button type="submit">Purchase</button>
            </form>
        </main>
    </div>
</body>

</html>